@model SubmissionResponseModel;
<div class="container">
    <form asp-controller="Submission" asp-action="Edit" method="post">
        <input type="hidden" asp-for="id" />
        <div class="my-5 row">
            <label for="CandidateId">Candidate Id</label>
            <select class="form-control" asp-for="CandidateId" asp-items="@ViewBag.CandidateList"></select>
            <span asp-validation-for="CandidateId"></span>
        </div>
        <div class="my-5 row col-12">
            <label for="JobRequirementId">Job Requirement Id</label>
            <select class="form-control" asp-for="JobRequirementId" asp-items="@ViewBag.JobRequirementList"></select>
            <span asp-validation-for="JobRequirementId"></span>
        </div>
        <div class="my-5 row col-12">
            <label for="AppliedOn">Applied On</label>
            <input asp-for="AppliedOn" type="text" class="form-control" id="datepicker" />
            <span asp-validation-for="AppliedOn"></span>
        </div>
        <input type="submit" value="Update Submission" class="btn btn-primary" />
    </form>
</div>
@section Scripts
{
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script>$(function () {
            $("#datepicker").datepicker({
                changeMonth: true,
                changeYear: true
            });
        });</script>
}