@model EmployeeRequestModel;
<div class="container">
    <form asp-controller="Employee" asp-action="Create" method="post">
        <div class="my-5 row">
            <label for="FirstName">FirstName</label>
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName"></span>
        </div>
        <div class="my-5 row col-12">
            <label for="LastName">LastName</label>
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName"></span>
        </div>
        <div class="my-5 row col-12">
            <label for="EmailId">EmailId</label>
            <input asp-for="EmailId" class="form-control" />
            <span asp-validation-for="EmailId"></span>
        </div>
        <div class="my-5 row col-12">
            <label for="DOB">DOB</label>
            <input asp-for="DOB" type="text" class="form-control" id="datepicker" />
            <span asp-validation-for="DOB"></span>
        </div>
        <div class="my-5 row col-12">
            <label for="SSN">SSN</label>
            <input asp-for="SSN" class="form-control" />
            <span asp-validation-for="SSN"></span>
        </div>
        <div class="my-5 row col-12">
            <label for="CurrentAddress">CurrentAddress</label>
            <input asp-for="CurrentAddress" class="form-control" />
            <span asp-validation-for="CurrentAddress"></span>
        </div>
        <div class="my-5 row col-12">
            <label for="Phone">Phone</label>
            <input asp-for="Phone" class="form-control" />
            <span asp-validation-for="Phone"></span>
        </div>
        <div class="my-5 row col-12">
            <label for="HireDate">HireDate</label>
            <input asp-for="HireDate" class="form-control" />
            <span asp-validation-for="HireDate"></span>
        </div>
        <div class="my-5 row col-12">
            <label for="EndDate">EndDate</label>
            <input asp-for="EndDate" class="form-control" />
            <span asp-validation-for="EndDate"></span>
        </div>
        <div class="my-5 row col-12">
            <label for="EmployeeStatusId">EmployeeStatusId</label>
            <select class="form-control" asp-for="EmployeeStatusId" asp-items="@ViewBag.EmployeeStatusList"></select>
            <span asp-validation-for="EmployeeStatusId"></span>
        </div>
        <div class="my-5 row col-12">
            <label for="EmployeeRoleId">EmployeeRoleId</label>
            <select class="form-control" asp-for="EmployeeRoleId" asp-items="@ViewBag.EmployeeRoleList"></select>
            <span asp-validation-for="EmployeeRoleId"></span>
        </div>
        <div class="my-5 row col-12">
            <label for="EmployeeTypeId">EmployeeTypeId</label>
            <select class="form-control" asp-for="EmployeeTypeId" asp-items="@ViewBag.EmployeeTypeList"></select>
            <span asp-validation-for="EmployeeTypeId"></span>
        </div>
        <div class="my-5 row col-12">
            <label for="ManagerId">ManagerId</label>
            <select class="form-control" asp-for="ManagerId" asp-items="@ViewBag.ManagerList"></select>
            <span asp-validation-for="ManagerId"></span>
        </div>

        <input type="submit" value="Add Employee" class="btn btn-primary" />
    </form>
</div>
@section Scripts
{
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script>$(function () {
            $("#datepicker").datepicker({
                changeMonth: true,
                changeYear: true
            });
        });</script>
}