@model UserRoleResponseModel;
<div class="container">
    <form asp-controller="UserRole" asp-action="Edit" method="post">
        <input type="hidden" asp-for="Id" />
        <div class="my-5 row">
            <label for="UserId">UserId</label>
            <select class="form-control" asp-for="UserId" asp-items="@ViewBag.UserList"></select>
            <span asp-validation-for="UserId"></span>
        </div>
        <div class="my-5 row col-12">
            <label for="RoleId">RoleId</label>
            <select class="form-control" asp-for="RoleId" asp-items="@ViewBag.RoleList"></select>
            <span asp-validation-for="RoleId"></span>
        </div>
        <input type="submit" value="Update UserRole" class="btn btn-primary" />
    </form>
</div>